<div class="container">
<div class="table-responsive">
  <table class="table">
  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{booking.MovieName}}</p>
</td>
</tr>
<tr>
  <td><b>City</b></td>
  <td>
  <p>{{booking.CityName}}</p>
</td>
</tr>

<tr>
  <td><b>Theater</b></td>
  <td>
  <p>{{booking.TheatreName}}</p>
</td>
</tr>

<tr>
  <td><b>Date</b></td>
  <td>
  <p>{{booking.Reservation}}</p>
</td>
</tr>

<tr>
  <td><b>Show Time</b></td>
  <td>
  <p>{{booking.Showtime}}</p>
</td>
</tr>
<tr>
  <td><b>Amount</b></td>
  <td>
  <p>{{booking.Amount}}</p>
</td>
</tr>
<!-- <tr>
  <td><b>No.Of.Tickets</b></td>
  <td>
  <p>{{booking.NoofTicket}}</p>
</td> -->
</tr>
<tr>
  <td><b>Seat Numbers</b></td>
  <td>
  <p>{{booking.seatnumbers}}</p>
</td>
</tr>
<tr>
  <td><b>E-Mail</b></td>
  <td>
    <p><input type="booking" name="mail"></p>
  <!-- <p>{{booking.eMail}}</p> -->
</td>
</tr>

<tr>

  <td>
      <td><button ng-click="Confirm()"  class="btn btn-primary">CONFIRM</button></td>
  </td>
</tr>


</table>
</div>
