<div class="container">
<div class="table-responsive">
  <table class="table">
  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{booking.conTitle}}</p>
</td>
</tr>
<tr>
  <td><b>City</b></td>
  <td>
  <p>{{booking.conCityName}}</p>
</td>
</tr>

<tr>
  <td><b>Theater</b></td>
  <td>
  <p>{{booking.conTheatreName}}</p>
</td>
</tr>

<tr>
  <td><b>Date</b></td>
  <td>
  <p>{{booking.conReservation}}</p>
</td>
</tr>

<tr>
  <td><b>Show Time</b></td>
  <td>
  <p>{{booking.conShowtime}}</p>
</td>
</tr>


<tr>

  <td>
      <td><button ng-click="Confirm(c)"  class="btn btn-primary">CONFIRM</button></td>
  </td>
</tr>


</table>
</div>
